@import url('https://fonts.googleapis.com/css?family=Roboto+Mono:300&display=swap');
@import 'placeholders';

.container-fluid {
  padding: 0;
  margin: 0;
}

header {
  position: relative;
  height: 100vh;
  overflow: hidden;
}

.navbar {
  background-color: rgba(0, 0, 0, .6);

  .container {
    padding: 10px;
    box-sizing: border-box;
  }

  .fa-bars {
    color: white;
  }

  &-brand img {
    height: 60px;
  }

  .nav-item:hover {
    .nav-link:not(.active) {
      color: lightgrey;
      text-decoration: underline;
    }
  }

  .nav-link:not(.active) {
      color: white;
  }

  .active {
    color: lightgrey;
    pointer-events: none;
  }

  .dropdown-item:hover {
    text-decoration: underline;
  }
}

.banner {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100vh;
  object-fit: cover;
}

#pengumuman {
  width: 100%;
  height: auto;
  background-color: #F4511E;
  color: #ffecb3;

  padding: 20px 60px 60px;
  box-sizing: border-box;

  h2 {
    margin-bottom: 20px;
    font-weight: bolder;
  }
}

.pagination {
  .page-link {
    font-size: 70%;
    border-radius: 0;
    color: #F4511E;
    border: none;
  }
}

#pengumuman-item {

  li {
    margin-bottom: 5px;
    list-style-type: none;

    a {
      // color: #FCC07F;
      color: #ffecb3;
    }
  }
}

#events {
  margin-top: 100px;
  height: auto;
}

.event-item {
  height: auto;
  margin-bottom: 60px;

  .event-date {
    text-align: center;

    .date {
      font-size: 500%;
      margin-bottom: -50px;
    }
  
    .month {
      font-size: 200%;
      line-height: 5px;
    }
  }

  .event-img {

    a {
      position: relative;
      display: block;
      width: 290px;
      height: 130px;
      background-color: black;

      & > * {
        position: absolute;
        left: 0;
        top: 0;
      }

      img {
        height: 100%;
      }

      .hover-preview {
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, .6);
        z-index: 2;
        opacity: 0;
        transition: opacity .5s;
      }

      &:hover {
        .hover-preview {
          opacity: 1;
          transition: opacity .5s;
        }
      }
    }
  }
}

#berita {
  margin-top: 60px;
  padding-bottom: 70px;
}

#berita-content > div {
  display: flex;
  flex-wrap: wrap;
}

.berita-item {
  height: 350px;
  border: 1px solid white;
}

.berita-item-content {
  width: 100%;
  height: 100%;
  background-color: black;
}

footer > div {
  & > .row:first-of-type {
    margin-bottom: 60px;
  }
}

footer {
  background-color: #111;
  box-sizing: border-box;
  height: auto;

  & > div {
    margin-top: 30px;
  }

  &::before {
    content: "";
    display: block;
    width: 100%;
    height: 40px;
    background-color: #333;
  }
}

footer .row:first-of-type > div {
  height: auto;
  border-top: 2px solid #999;
  color: white;

  & > h3 {
    font-family: sans-serif;
    font-size: 110%;
    letter-spacing: 1px;
    margin-bottom: 30px;
    text-transform: uppercase;
  }

  &:last-child {
    p {
      font-family: sans-serif;
      font-size: 75%;
      color: #999;
      font-weight: lighter;
    }

    span {
      color: white;
    }
  }
}

footer form {
  width: 90%;

  textarea {
    @extend %form-style;
    resize: none;
    overflow: auto;
    height: 100px;
    padding: 10px 0 0 15px;
    margin-bottom: 5px;

    &:focus {
      @extend %form-focus;

      &::placeholder {
        color: transparent;
      }
    }
  }

  input {
    @extend %form-style;
    padding: 10px 0 10px 15px;

    &:focus {
      @extend %form-focus;

      &::placeholder {
        color: transparent;
      }
    }
  }

  button {
    background-color: #fff;
    border: 1px solid #333;
    border-radius: 8px;
    color: black;
    padding: 5px 20px;
  }
}

.copyright {
  border-top: .5px solid #555;
  padding: 20px 0;

  color: white;
  h4 {
    font-size: 85%;
  }
}

.twitter-feed {

  .tweet-content {
    width: 98%;
  }

  .fa-twitter {
    color: #999;
    display: inline;
    font-size: 150%;
    text-align: center;
  }

  .tweet-item {
    font-family: sans-serif;
    font-weight: lighter;
    font-size: 80%;

    span {
      color: #999;
    }
  }
}

@import 'media';