@import url("https://fonts.googleapis.com/css?family=Roboto+Mono:300&display=swap");
.footer-form textarea, .footer-form input {
  display: block;
  width: 90%;
  background-color: black;
  border: 1px solid #999;
  border-radius: 8px;
  margin-bottom: 10px;
  padding: 5px 10px;
  font-size: 90%;
}
.footer-form textarea:focus, .footer-form input:focus {
  border: 1px solid white;
  color: white;
}
.footer-form textarea:focus::placeholder, .footer-form input:focus::placeholder {
  color: transparent;
}

.container-fluid {
  padding: 0;
  margin: 0;
}

header {
  position: relative;
  height: 100vh;
  overflow: hidden;
}

.navbar {
  background-color: rgba(0, 0, 0, 0.6);
}
.navbar .container {
  padding: 10px;
  box-sizing: border-box;
}
.navbar .fa-bars {
  color: white;
}
.navbar-brand img {
  height: 60px;
}
.navbar .nav-item:hover .nav-link:not(.active) {
  color: lightgrey;
  text-decoration: underline;
}
.navbar .nav-link:not(.active) {
  color: white;
}
.navbar .active {
  color: lightgrey;
  pointer-events: none;
}
.navbar .dropdown-item:hover {
  text-decoration: underline;
}

.banner {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100vh;
  object-fit: cover;
}

#pengumuman {
  width: 100%;
  height: auto;
  background-color: #F4511E;
  color: #ffecb3;
  padding: 20px 60px 60px;
  box-sizing: border-box;
}
#pengumuman h2 {
  margin-bottom: 20px;
  font-weight: bolder;
}

.pagination .page-link {
  font-size: 70%;
  border-radius: 0;
  color: #F4511E;
  border: none;
}

#pengumuman-item li {
  margin-bottom: 5px;
  list-style-type: none;
}
#pengumuman-item li a {
  color: #ffecb3;
}

#events {
  margin-top: 100px;
  height: auto;
}

.event-item {
  height: auto;
  margin-bottom: 60px;
}
.event-item .event-date {
  text-align: center;
}
.event-item .event-date .date {
  font-size: 500%;
  margin-bottom: -50px;
}
.event-item .event-date .month {
  font-size: 200%;
  line-height: 5px;
}
.event-item .event-img a {
  position: relative;
  display: block;
  width: 290px;
  height: 130px;
  background-color: black;
}
.event-item .event-img a > * {
  position: absolute;
  left: 0;
  top: 0;
}
.event-item .event-img a img {
  height: 100%;
}
.event-item .event-img a .hover-preview {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 2;
  opacity: 0;
  transition: opacity 0.5s;
}
.event-item .event-img a:hover .hover-preview {
  opacity: 1;
  transition: opacity 0.5s;
}

#berita {
  margin-top: 60px;
  padding-bottom: 70px;
}

#berita-content > div {
  display: flex;
  flex-wrap: wrap;
}

.berita-item {
  height: 350px;
  border: 1px solid white;
}

.berita-item-content {
  width: 100%;
  height: 100%;
  background-color: black;
}

footer {
  background-color: #111;
  box-sizing: border-box;
  height: auto;
}
footer > div {
  margin-top: 30px;
}
footer > div > .row:first-of-type {
  margin-bottom: 60px;
}
footer::before {
  content: "";
  display: block;
  width: 100%;
  height: 40px;
  background-color: #333;
}

.footer-form textarea {
  height: 150px;
  resize: vertical;
}
.footer-form button {
  background-color: #eee;
  border: none;
  padding: 5px 13px;
  border-radius: 8px;
}

footer .row:first-of-type > .col > .footer-col-content > h3 {
  font-family: sans-serif;
  font-size: 110%;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin-bottom: 10px;
  color: white;
}
footer .row:first-of-type > .col > .footer-col-content:last-child p {
  font-family: sans-serif;
  font-size: 75%;
  color: #999;
  font-weight: lighter;
}
footer .row:first-of-type > .col > .footer-col-content:last-child span {
  color: white;
}

.footer-col-content {
  height: 100%;
  border-top: 2px solid #999;
}
.footer-col-content > h3 {
  font-weight: lighter;
  font-family: sans-serif;
  font-size: 140%;
  text-transform: uppercase;
}

.copyright {
  border-top: 0.5px solid #555;
  padding: 20px 0;
  color: white;
}
.copyright h4 {
  font-size: 85%;
}

@media screen and (min-width: 320px) {
  .navbar {
    text-align: end;
  }

  #pengumuman {
    position: relative;
    padding: 15px 8px 40px;
    font-size: 90%;
  }

  #pengumuman-header h2, #berita h2 {
    text-align: center;
  }

  #pengumuman-item li {
    margin-bottom: 15px;
  }

  #pengumuman-item > ul:last-of-type {
    display: none;
  }

  #nav-pagination {
    position: absolute;
    width: unset;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
  }
}
@media screen and (min-width: 375px) {
  #pengumuman {
    font-size: 105%;
  }
}
@media screen and (min-width: 768px) {
  #pengumuman li {
    font-size: 80%;
  }

  #pengumuman-item > ul:last-child {
    display: block;
  }
}
@media screen and (min-width: 800px) {
  #pengumuman li {
    font-size: 90%;
  }
}
@media screen and (min-width: 992px) {
  #pengumuman h2, #berita h2 {
    text-align: start;
    font-size: 200%;
  }
}
@media screen and (min-width: 1008px) {
  #pengumuman {
    padding: 15px 8px 0;
  }

  #pengumuman li {
    font-size: 100%;
  }

  #pengumuman h2 {
    text-align: start;
    font-size: 250%;
  }

  #nav-pagination {
    position: static;
    display: flex;
    flex-direction: column;
    justify-content: center;
    bottom: unset;
    left: unset;
    transform: unset;
  }
}
@media screen and (min-width: 1204px) {
  #pengumuman li {
    font-size: 100%;
  }
}

/*# sourceMappingURL=style.css.map */
